<section id="slider" class="fullwidthbanner-container roundedcorners">
  <div class="fullscreenbanner" data-navigationStyle="preview4">
    <ul class="hide">
      <!-- SLIDE -->
      <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off" data-title="" data-thumb="assets/images/demo/video/neuron_thumb.jpg">
        <img src="assets/images/1x1.png" data-lazyload="assets/images/demo/video/neuron.jpg" alt="video" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
        <div class="tp-caption tp-fade fadeout fullscreenvideo"
                data-x="0"
                data-y="0"
                data-speed="1000"
                data-start="1100"
                data-easing="Power4.easeOut"
                data-elementdelay="0.01"
                data-endelementdelay="0.1"
                data-endspeed="1500"
                data-endeasing="Power4.easeIn"
                data-autoplay="true"
                data-autoplayonlyfirsttime="false"
                data-nextslideatend="true"
                data-volume="mute"
                data-forceCover="1"
                data-aspectratio="16:9"
                data-forcerewind="on" style="z-index: 2;">
          <div class="overlay dark-4"><!-- dark overlay [1 to 9 opacity] --></div>
          <video class="fullvideo" preload="none" poster="assets/images/demo/video/neuron.jpg">
            <source src="assets/images/demo/video/neuron.webm" type="video/webm" />
            <source src="assets/images/demo/video/neuron.mp4" type="video/mp4" />
          </video>
        </div>
        <div class="tp-caption customin ltl tp-resizeme text_white"
                data-x="center"
                data-y="180"
                data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                data-speed="800"
                data-start="1000"
                data-easing="easeOutQuad"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.01"
                data-endelementdelay="0.1"
                data-endspeed="1000"
                data-endeasing="Power4.easeIn" style="z-index: 3;">
          <span class="weight-300">Launch Pad for a Child's Success</span>
        </div>
        <div class="tp-caption customin ltl tp-resizeme large_bold_white"
                data-x="center"
                data-y="230"
                data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                data-speed="800"
                data-start="1200"
                data-easing="easeOutQuad"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.01"
                data-endelementdelay="0.1"
                data-endspeed="1000"
                data-endeasing="Power4.easeIn" style="z-index: 3;">
          WELCOME TO BRAIN LAUNCH
              </div>
        <div class="tp-caption customin ltl tp-resizeme small_light_white"
                data-x="center"
                data-y="350"
                data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                data-speed="800"
                data-start="1400"
                data-easing="easeOutQuad"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.01"
                data-endelementdelay="0.1"
                data-endspeed="1000"
                data-endeasing="Power4.easeIn" style="z-index: 3; width: 750px; max-width: 750px; white-space: normal; text-align:center;">
          Providing affordable, easy-to-administer programs that will start children on a journey towards actualizing their true potential.
              </div>
        <div class="tp-caption customin ltl tp-resizeme"
                data-x="center"
                data-y="438"
                data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                data-speed="800"
                data-start="1550"
                data-easing="easeOutQuad"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.01"
                data-endelementdelay="0.1"
                data-endspeed="1000"
                data-endeasing="Power4.easeIn" style="z-index: 3;">
          <a href="#purchase" class="btn btn-default btn-lg">
            <span>Purchase Brain Launch Program One Now!</span>
          </a>
          <a href="#purchase" class="btn btn-default btn-lg">
            <span>Purchase Brain Launch Program Two Now!</span>
          </a>
        </div>
      </li>
      <!-- SLIDE  -->
      <li data-transition="random" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off" > <!-- data-title="Slide title 1" data-thumb="assets/images/demo/150x99/27-min.jpg">  -->
        <img src="assets/images/1x1.png" data-lazyload="assets/images/demo/1200x800/31-min.jpg" alt="" data-bgfit="cover" data-bgposition="center bottom" data-bgrepeat="no-repeat" />
        <div class="overlay dark-4"><!-- dark overlay [1 to 9 opacity] --></div>
        <div class="tp-caption customin ltl tp-resizeme text_white"
                data-x="center"
                data-y="180"
                data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                data-speed="800"
                data-start="1000"
                data-easing="easeOutQuad"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.01"
                data-endelementdelay="0.1"
                data-endspeed="1000"
                data-endeasing="Power4.easeIn" style="z-index: 10;">
          <span class="weight-300">Launch Pad for a Child's Success</span>
        </div>
        <div class="tp-caption customin ltl tp-resizeme large_bold_white"
                data-x="center"
                data-y="230"
                data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                data-speed="800"
                data-start="1200"
                data-easing="easeOutQuad"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.01"
                data-endelementdelay="0.1"
                data-endspeed="1000"
                data-endeasing="Power4.easeIn" style="z-index: 10;">
          WELCOME TO BRAIN LAUNCH
              </div>
        <div class="tp-caption customin ltl tp-resizeme small_light_white"
                data-x="center"
                data-y="350"
                data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                data-speed="800"
                data-start="1400"
                data-easing="easeOutQuad"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.01"
                data-endelementdelay="0.1"
                data-endspeed="1000"
                data-endeasing="Power4.easeIn" style="z-index: 10; width: 750px; max-width: 750px; white-space: normal; text-align:center;">
          Providing affordable, easy-to-administer programs that will start children on a journey towards actualizing their true potential.
              </div>
        <div class="tp-caption customin ltl tp-resizeme"
                data-x="center"
                data-y="438"
                data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                data-speed="800"
                data-start="1550"
                data-easing="easeOutQuad"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.01"
                data-endelementdelay="0.1"
                data-endspeed="1000"
                data-endeasing="Power4.easeIn" style="z-index: 10;">
          <a href="#purchase" class="btn btn-default btn-lg">
            <span>Purchase Brain Launch Program One Now!</span>
          </a>
          <a href="#purchase" class="btn btn-default btn-lg">
            <span>Purchase Brain Launch Program Two Now!</span>
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>
<!-- /REVOLUTION SLIDER -->
<!-- CALLOUT -->
<div class="alert alert-transparent bordered-bottom nomargin">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-sm-12"><!-- left text -->
        <h3>Request the<span><strong> FREE Pre-Launch Program</strong></span> for 4 and 5 year olds!</h3>
        <p class="font-lato weight-300 size-20 nomargin-bottom">
          Launch Pad for YOUR Child's Success!<!-- /left text -->
        </p>
      </div>
      <div class="col-md-3 col-sm-12 text-left"><!-- right btn -->
        <a href="https://www.brainlaunch.com/index2.php/contact/" rel="nofollow" target="_self" class="btn btn-primary btn-lg">GET PRE-LAUNCH <NOW></NOW></a>
      </div>
      <!-- /right btn -->
    </div>
  </div>
</div>
<!-- /CALLOUT -->
<!-- -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-5">
        <a class="image-hover lightbox thumbnail" href="http://vimeo.com/166930720" data-plugin-options='{"type":"iframe"}'>
          <span class="image-hover-icon image-hover-light"><!-- image-hover-light | image-hover-dark -->
            <i class="fa fa-vimeo-square"><!-- video icon --></i>
          </span>
          <img class="img-responsive" src="assets/images/foundation960x832.png" alt="Learn About the Foundational Brain Systems">
        </a>
      </div>
      <div class="col-md-7 col-sm-7">
        <header class="margin-bottom-60">
          <h3>Brain Launch <br>
            Launch Pad for a Child's Success</h3>
        </header>
        <blockquote>
          <h1 class="lead font-lato">Here is a video overview of the 'Foundational Brain Systems&quot; Model.
                    Parents can overcome the problems caused by too much video time and not enough 3D real world activity. Hand eye coordination is just the &quot;tip of the iceberg&quot; of the problems caused by underdeveloped Foundational Brain Systems. Reviewing the larger framework of the brain, 'Informational Processing System&quot; can be strengthend with basic exercises designed to focus on the FBS.</h1>
        </blockquote>
        <a class="btn btn-default btn-lg size-15 margin-top-30 lightbox" href="http://vimeo.com/166930720" data-plugin-options='{"type":"iframe"}'>WATCH VIDEO</a>
      </div>
    </div>
  </div>
</section>
<!-- / -->
<!-- PARALLAX -->
<section class="parallax parallax-2 padding-xxs" style="background-image: url('assets/images/demo/vision-min.jpg');">
  <div class="overlay dark-4"><!-- dark overlay [0 to 9 opacity] --></div>
  <div class="container">
    <div class="row countTo-md text-center">
      <div class="col-xs-6 col-sm-3">
        <i class="fa fa-users"></i>
        <h5>A child's brain development in today's society</h5>
      </div>
      <div class="col-xs-6 col-sm-3">
        <i class="fa fa-code"></i>
        <h5>Information Processing System of the Brain</h5>
      </div>
      <div class="col-xs-6 col-sm-3">
        <i class="fa fa-twitter"></i>
        <h5>TWITTER</h5>
      </div>
      <div class="col-xs-6 col-sm-3">
        <i class="fa fa-facebook"></i>
        <h5>FACEBOOK</h5>
      </div>
    </div>
  </div>
</section>
<!-- /PARALLAX -->
<!-- Goodies -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="box-icon box-icon-center box-icon-transparent box-icon-large">
          <a class="box-icon-title" href="#">
            <i class="fa fa-tablet"></i>
            <h2>Social Mission</h2>
          </a>
          <p class="text-muted">Affordable, easy-to-administer programs to advance a child's brain development in today's society</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box-icon box-icon-center box-icon-transparent box-icon-large">
          <a class="box-icon-title" href="#">
            <i class="fa fa-random"></i>
            <h2>Information Processing System of the Brain</h2>
          </a>
          <p class="text-muted">The Foundational Brain Systems</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box-icon box-icon-center box-icon-transparent box-icon-large">
          <a class="box-icon-title" href="#">
            <i class="fa fa-tint"></i>
            <h2>Ultimate Software of the Brain</h2>
          </a>
          <p class="text-muted">Construct of Synergistic Intellect</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box-icon box-icon-center box-icon-transparent box-icon-large">
          <a class="box-icon-title" href="#">
            <i class="fa fa-cogs"></i>
            <h2>Power Supply for the Brain</h2>
          </a>
          <p class="text-muted">Nutrition and Exercises</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Goodies -->
<!-- Works -->
<!-- /Works -->