<%= link_to("Go Back", :back , class: "btn btn-primary") %>
<p>DOWNLOAD PRINT MATERIALS BY GROUPS OR INDIVIDUALLY</p>
<p>Select a link to download files to be printed. You can download all the files for a Program with one link. Or, select other links for a smaller subset of documents or links for the individual documents. If you prefer to display any of the individual documents, you can right-click on them and select 'Open in new window' or the equivalent for your operating system. Please note: Phase One materials are available by email with our free Pre-Launch program that covers Phase One which includes Sections 1 through 4.</p>
<h1>General Instructions, Coaching Tips & FAQ’s</h1>
<h3>Program One which covers Phase Two and includes Sections 5 through 7 (20 Pages)</h3>
<h5>Program Answer Key</h5>
<h4>Scanning Charts</h4>
<ul>
  <li>Scanning Chart 1 (1 Page)</li>
  <li>Scanning Chart 2 (1 Page)</li>
  <li>Scanning Chart 3 (1 Page)</li>
</ul>
<h4>Wall Charts</h4>
<ul>
  <li>Wall Chart 1 (1 Page)</li>
  <li>Wall Chart 2 (1 Page)</li>
  <li>Wall Chart 3 (1 Page)</li>
  <h4>Program Two which covers Phase Three and includes Sections 8 through 10</h4>
  <h5>Tracing Charts</h5>
</ul>
<ul>
  <li>Tracing Chart 1 (1 Page)</li>
  <li>Tracing Chart 2 (1 Page)</li>
  <li>Tracing Chart 3 (1 Page)</li>
  <li>Tracing Chart 4 (1 Page)</li>
  <p>ETC</p>
</ul>