<!-- /REVOLUTION SLIDER -->
<!-- CALLOUT -->
<div class="alert alert-transparent bordered-bottom nomargin">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-sm-12"><!-- left text -->
        <h3>Request the<span><strong> FREE Pre-Launch Program</strong></span> for 4 and 5 year olds!</h3>
        <p class="font-lato weight-300 size-20 nomargin-bottom">
          Launch Pad for YOUR Child's Success!<!-- /left text -->
        </p>
      </div>
      <div class="col-md-3 col-sm-12 text-left"><!-- right btn -->
        <a href="https://www.brainlaunch.com/index2.php/contact/" rel="nofollow" target="_self" class="btn btn-primary btn-lg">GET PRE-LAUNCH <NOW></NOW></a>
      </div>
      <!-- /right btn -->
    </div>
  </div>
</div>