!-- /CALLOUT -->
<!-- -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-5">
        <a class="image-hover lightbox thumbnail" href="http://vimeo.com/166930720" data-plugin-options='{"type":"iframe"}'>
          <span class="image-hover-icon image-hover-light"><!-- image-hover-light | image-hover-dark -->
            <i class="fa fa-vimeo-square"><!-- video icon --></i>
          </span>
          <img class="img-responsive" src="assets/images/foundation960x832.png" alt="Learn About the Foundational Brain Systems">
        </a>
      </div>
      <div class="col-md-7 col-sm-7">
        <header class="margin-bottom-60">
          <h3>Brain Launch <br>
            Launch Pad for a Child's Success</h3>
        </header>
        <blockquote>
          <h1 class="lead font-lato">Here is a video overview of the 'Foundational Brain Systems&quot; Model.
                    Parents can overcome the problems caused by too much video time and not enough 3D real world activity. Hand eye coordination is just the &quot;tip of the iceberg&quot; of the problems caused by underdeveloped Foundational Brain Systems. Reviewing the larger framework of the brain, 'Informational Processing System&quot; can be strengthend with basic exercises designed to focus on the FBS.</h1>
        </blockquote>
        <a class="btn btn-default btn-lg size-15 margin-top-30 lightbox" href="http://vimeo.com/166930720" data-plugin-options='{"type":"iframe"}'>WATCH VIDEO</a>
      </div>
    </div>
  </div>
</section>
<!-- / -->