<!-- Goodies -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="box-icon box-icon-center box-icon-transparent box-icon-large">
          <a class="box-icon-title" href="#">
            <i class="fa fa-tablet"></i>
            <h2>Social Mission</h2>
          </a>
          <p class="text-muted">Affordable, easy-to-administer programs to advance a child's brain development in today's society</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box-icon box-icon-center box-icon-transparent box-icon-large">
          <a class="box-icon-title" href="#">
            <i class="fa fa-random"></i>
            <h2>Information Processing System of the Brain</h2>
          </a>
          <p class="text-muted">The Foundational Brain Systems</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box-icon box-icon-center box-icon-transparent box-icon-large">
          <a class="box-icon-title" href="#">
            <i class="fa fa-tint"></i>
            <h2>Ultimate Software of the Brain</h2>
          </a>
          <p class="text-muted">Construct of Synergistic Intellect</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box-icon box-icon-center box-icon-transparent box-icon-large">
          <a class="box-icon-title" href="#">
            <i class="fa fa-cogs"></i>
            <h2>Power Supply for the Brain</h2>
          </a>
          <p class="text-muted">Nutrition and Exercises</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Goodies -->