<!-- PARALLAX -->
<section class="parallax parallax-2 padding-xxs" style="background-image: url('assets/images/demo/vision-min.jpg');">
  <div class="overlay dark-4"><!-- dark overlay [0 to 9 opacity] --></div>
  <div class="container">
    <div class="row countTo-md text-center">
      <div class="col-xs-6 col-sm-3">
        <i class="fa fa-users"></i>
        <h5>A child's brain development in today's society</h5>
      </div>
      <div class="col-xs-6 col-sm-3">
        <i class="fa fa-code"></i>
        <h5>Information Processing System of the Brain</h5>
      </div>
      <div class="col-xs-6 col-sm-3">
        <i class="fa fa-twitter"></i>
        <h5>TWITTER</h5>
      </div>
      <div class="col-xs-6 col-sm-3">
        <i class="fa fa-facebook"></i>
        <h5>FACEBOOK</h5>
      </div>
    </div>
  </div>
</section>
<!-- /PARALLAX -->