<section id="slider" class="fullwidthbanner-container roundedcorners">
  <div class="fullscreenbanner" data-navigationStyle="preview4">
    <ul class="hide">
      <!-- SLIDE -->
      <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off" data-title="" data-thumb="assets/images/demo/video/neuron_thumb.jpg">
        <img src="assets/images/1x1.png" data-lazyload="assets/images/demo/video/neuron.jpg" alt="video" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
        <div class="tp-caption tp-fade fadeout fullscreenvideo"
                data-x="0"
                data-y="0"
                data-speed="1000"
                data-start="1100"
                data-easing="Power4.easeOut"
                data-elementdelay="0.01"
                data-endelementdelay="0.1"
                data-endspeed="1500"
                data-endeasing="Power4.easeIn"
                data-autoplay="true"
                data-autoplayonlyfirsttime="false"
                data-nextslideatend="true"
                data-volume="mute"
                data-forceCover="1"
                data-aspectratio="16:9"
                data-forcerewind="on" style="z-index: 2;">
          <div class="overlay dark-4"></div>
          <video class="fullvideo" preload="none" poster="assets/images/demo/video/neuron.jpg">
            <source src="assets/images/demo/video/neuron.webm" type="video/webm" />
            <source src="assets/images/demo/video/neuron.mp4" type="video/mp4" />
          </video>
        </div>
        <div class="tp-caption customin ltl tp-resizeme text_white"
                data-x="center"
                data-y="180"
                data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                data-speed="800"
                data-start="1000"
                data-easing="easeOutQuad"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.01"
                data-endelementdelay="0.1"
                data-endspeed="1000"
                data-endeasing="Power4.easeIn" style="z-index: 3;">
          <span class="weight-300">Launch Pad for a Child's Success</span>
        </div>
        <div class="tp-caption customin ltl tp-resizeme large_bold_white"
                data-x="center"
                data-y="230"
                data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                data-speed="800"
                data-start="1200"
                data-easing="easeOutQuad"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.01"
                data-endelementdelay="0.1"
                data-endspeed="1000"
                data-endeasing="Power4.easeIn" style="z-index: 3;">
          WELCOME TO BRAIN LAUNCH
              </div>
        <div class="tp-caption customin ltl tp-resizeme small_light_white"
                data-x="center"
                data-y="350"
                data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                data-speed="800"
                data-start="1400"
                data-easing="easeOutQuad"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.01"
                data-endelementdelay="0.1"
                data-endspeed="1000"
                data-endeasing="Power4.easeIn" style="z-index: 3; width: 750px; max-width: 750px; white-space: normal; text-align:center;">
          Providing affordable, easy-to-administer programs that will start children on a journey towards actualizing their true potential.
              </div>
        <div class="tp-caption customin ltl tp-resizeme"
                data-x="center"
                data-y="438"
                data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                data-speed="800"
                data-start="1550"
                data-easing="easeOutQuad"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.01"
                data-endelementdelay="0.1"
                data-endspeed="1000"
                data-endeasing="Power4.easeIn" style="z-index: 3;">
          <a href="#purchase" class="btn btn-default btn-lg">
            <span>Purchase Brain Launch Program One Now!</span>
          </a>
          <a href="#purchase" class="btn btn-default btn-lg">
            <span>Purchase Brain Launch Program Two Now!</span>
          </a>
        </div>
      </li>
      <!-- SLIDE  -->
      <li data-transition="random" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off" > <!-- data-title="Slide title 1" data-thumb="assets/images/demo/150x99/27-min.jpg">  -->
        <img src="assets/images/1x1.png" data-lazyload="assets/images/demo/1200x800/31-min.jpg" alt="" data-bgfit="cover" data-bgposition="center bottom" data-bgrepeat="no-repeat" />
        <div class="overlay dark-4"><!-- dark overlay [1 to 9 opacity] --></div>
        <div class="tp-caption customin ltl tp-resizeme text_white"
                data-x="center"
                data-y="180"
                data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                data-speed="800"
                data-start="1000"
                data-easing="easeOutQuad"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.01"
                data-endelementdelay="0.1"
                data-endspeed="1000"
                data-endeasing="Power4.easeIn" style="z-index: 10;">
          <span class="weight-300">Launch Pad for a Child's Success</span>
        </div>
        <div class="tp-caption customin ltl tp-resizeme large_bold_white"
                data-x="center"
                data-y="230"
                data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                data-speed="800"
                data-start="1200"
                data-easing="easeOutQuad"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.01"
                data-endelementdelay="0.1"
                data-endspeed="1000"
                data-endeasing="Power4.easeIn" style="z-index: 10;">
          WELCOME TO BRAIN LAUNCH
              </div>
        <div class="tp-caption customin ltl tp-resizeme small_light_white"
                data-x="center"
                data-y="350"
                data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                data-speed="800"
                data-start="1400"
                data-easing="easeOutQuad"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.01"
                data-endelementdelay="0.1"
                data-endspeed="1000"
                data-endeasing="Power4.easeIn" style="z-index: 10; width: 750px; max-width: 750px; white-space: normal; text-align:center;">
          Providing affordable, easy-to-administer programs that will start children on a journey towards actualizing their true potential.
              </div>
        <div class="tp-caption customin ltl tp-resizeme"
                data-x="center"
                data-y="438"
                data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                data-speed="800"
                data-start="1550"
                data-easing="easeOutQuad"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.01"
                data-endelementdelay="0.1"
                data-endspeed="1000"
                data-endeasing="Power4.easeIn" style="z-index: 10;">
          <a href="#purchase" class="btn btn-default btn-lg">
            <span>Purchase Brain Launch Program One Now!</span>
          </a>
          <a href="#purchase" class="btn btn-default btn-lg">
            <span>Purchase Brain Launch Program Two Now!</span>
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>