<!-- wrapper -->
<div id="wrapper">
  <div id="header" class="sticky shadow-after-3 clearfix">
    <header id="topNav">
      <div class="container">
        <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
          <i class="fa fa-bars"></i>
        </button>
        <a class="logo pull-left" href="https://www.brainlaunch.com/index2.php" target="_self">
          <img src="assets/images/blogo126x80.png" alt="Brain Launch Website" title="Brain Launch Website"/></a>
        <div class="navbar-collapse pull-right nav-main-collapse collapse">
          <nav class="nav-main">
            <ul id="topMain" class="nav nav-pills nav-main">
              <li class="dropdown active"><!-- HOME -->
                <a class="dropdown-toggle" href="https://www.brainlaunch.com/index2.php">
                  HOME
                </a>
              </li>
              <li class="dropdown"><!-- ABOUT US -->
                <a class="dropdown-toggle" href="https://www.brainlaunch.com/index2.php/about-us/">
                  ABOUT US
                  </a>
              </li>
              <li class="dropdown"><!-- PROGRAM -->
                <a class="dropdown-toggle" href="https://www.brainlaunch.com/index2.php/program/">
                  PROGRAM
                    </a>
              </li>
              <li class="dropdown mega-menu"><!-- STORE -->
                <a class="dropdown-toggle" href="#">
                  STORE
                      </a>
                <li class="dropdown"><!-- BLOG -->
                  <a class="dropdown-toggle" href="https://www.brainlaunch.com/index2.php/blog/">
                    BLOG
                        </a>
                </li>
                <li class="dropdown"><!-- VIDEOS -->
                  <a class="dropdown-toggle" href="https://www.brainlaunch.com/index2.php/videos/">
                    VIDEOS
                          </a>
                  <li class="dropdown mega-menu"><!-- CONTACT US -->
                    <a class="dropdown-toggle" href="https://www.brainlaunch.com/index2.php/contact/">
                      CONTACT US
                            </a>
                  </li>
                </li>
              </li>
            </li>
          </li>
        </li>
      </ul>
    </nav>
  </div>
</div>
<div>
  <%= flash_messages  %>
</div>