<div id="navbar" class="collapse navbar-collapse">
  <ul class="nav navbar-nav">
    <li><%= link_to("Store", store_path ) %></li>
    <li><a>Programs</a></li>
    <li><%= link_to("Printable Materials", programs_path) %></li>
    <li><a>Program Exercises</a></li>
    <li><%= render 'layouts/cart_text' %></li>
  </ul>
</div>